* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 100vh;
}

.container {
  width: 65vw;
  height: 500px;
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.col-left {
  flex: 2;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.col-right {
  flex: 1;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  flex: 1;
  border-radius: 2em;
}

.row3 {
  border: none;
  display: flex;
  gap: 0.5rem;
}

.row-col {
  flex: 1;
  border-radius: 2em;
}

.row1 {
  background-color: #042222;
}

.row2 {
  background-color: #03624c;
}

.left {
  background-color: #00df82;
}

.right {
  background-color: #aacbc4;
}

.top {
  background-color: #2cc295;
}

.bottom {
  background-color: #33514e;
}

/* Responsive */

@media only screen and (max-width: 1280px) {
  .container {
    width: 75vw;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 85vw;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }
}

@media only screen and (max-width: 640px) {
  body {
    height: auto;
  }
  .container {
    flex-direction: column;
    height: 800px;
  }
}
